a[name="importante0"] {
    background-color: cyan;
}    
a[name="importante1"] {
    background-color: yellow;
}
a[name="importante2"] {
    background-color: red;
}
a[name="importante3"] {
    background-color: green;
}
a[name="importante4"] {
    background-color: blue;
}
a[name="importante5"] {
    background-color: orange;
}
a[name="importante6"] {
    background-color: purple;
}
a[name="importante7"] {
    background-color: green;
}
a[name="importante8"] {
    background-color: brown;
}
a[name="importante9"] {
    background-color: magenta;
}